@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.main-content {
    background-color: rgb(255, 255, 255);
    width: 290px;
    height: 460px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.main-content .qrcode-img{
    border-radius: 15px;
    position: relative;
    bottom: 8px;
}

.main-content .first-text {
    font-size: 20px;
    padding: 20px;
    font-weight: 700;
}

.main-content .second-text {
    font-size: 14px;
    color: rgb(136, 136, 136);
    margin-bottom: 10px;
}